html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.xxx:hover {
    background-color: black;
}

.logo-navbar {
    width: 100px;
    margin-top: 0px;
}

.blue-background {
    background: #21A8FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, #9500FF , #21A8FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #9500FF, #21A8FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #9500FF, #21A8FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #9500FF , #21A8FF); /* Standard syntax (must be last) */
}

.light-blue-background {
    background: #21A8FF;
}

.white-text {
    color: white;
}
.vertically-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vertically-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.custom-button {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    width: 220px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: transparent;
}
.custom-button:hover {
    color: #21A8FF;
    cursor: pointer;
    background-color: white;
}
.title {
    font-size: 50px;
    font-weight: bold;
}

/* HOME SECTION */

#getapp {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.hand-swipe {
    margin-bottom: 0 !important;
}

.home-container {
    margin-top: -60px;
}
.home-image {
    max-width: 300px;
    min-width: 300px;
    width: 300px;
}
.home-title {
    font-weight: bold;
    line-height: normal;
    margin-bottom: 20px;
    text-align: left;
}


.button-container {
    margin-top: 20px;
}
.learn-more-button {
    margin-bottom: 20px;
    padding-top: 4px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    color: white;
    width: 150px;
}
.get-app-button {
    padding-top: 4px;
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    color: white;
    width: 150px;
}
.app-store-button-container {
    margin-top: 60px;
}
.store-button {
    width: 170px;
    margin-right: 40px;
}

.menu-item {
    color: white !important;
    transition: 0s;
    font-size: 12px;
    width: auto;
    border: none;
}

.menu-item:hover {
    cursor: pointer;
    color: #21A8FF !important;
    transition: 0s;
}


@media screen and (max-width: 768px){
    .title {
        font-size: 40px;
    }
    .custom-button {
        width: 120px;
        font-size: 14px;
        margin-top: 5px;
    }
    .store-button {
        width: 120px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 576px){
    .title {
        font-size: 25px;
        text-align: center;
    }
}

/* ABOUT SECTION */
@media screen and (max-width: 576px) {
    #about {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-top: 40px;
    }
}

.about-height {

}
.about-image {

    max-width: 100%;
    height: auto;
}
.about-side-text {
    margin-top: -10px;
    margin-bottom: 0px;
}

.about-title {
    color: #797979;
    line-height: normal;
    margin-bottom: 20px;
}
.about-text {
    color: #797979;
    font-size: 30px;
    font-weight: 200;
    line-height: normal;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px){
    .about-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px){
    .about-side-text{
        position: absolute;
        margin: 0;
        top: 0; left: 0; bottom: 0; right: 0;
    }
    .about-image {
        width: 100%;
    }
    .about-text {
        font-size: 15px;
    }
}

/* FEATURES SECTION */
.features-container {

}
.features-heading {
    margin-top: -30px;
    padding-bottom: 0px;
}
.features-row{
    width: 100%;
}
.features-image-row {
    margin-top: -10px;
    margin-bottom: -100px;
}
.features-image {
    margin-left: -8vw;
    max-width: 107vw;
    width: 107vw;
    min-width: 107vw;
}
.features-image2 {
    max-width:200px;
    min-width:200px;
    width:200px;
}
.features-icon {
    max-width: 80px;
    margin-bottom: 10px;
}

.features-icon-title {
    color: #95989A;
    font-size: 18px;
    font-weight: bold;
}
.features-icon-text {
    margin: auto;
    margin-top: -4px;
    color: #95989A;
    font-size: 14px;
    font-weight: 200;
    max-width: 220px;
}

/* COMPETITION SECTION */
@media screen and (max-width: 576px) {
    #competition {
        padding-left: 15px;
        padding-right: 5px;
    }

    #contact {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 5px;
    }
}

.comp-image {
    max-width:250px;
    min-width:250px;
    width:250px;
}
.comp-title {
    line-height: normal;
    margin-bottom: 20px;
}
.comp-text {
    font-size: 30px;
    font-weight: 200;
    line-height: normal;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px){
    .comp-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px){
    .comp-text {
        font-size: 15px;
    }
}

.comp-label {
    font-size: 20px;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    .comp-label {
        font-size: 12px;
    }
}

.comp-form {
    width: 525px;
    max-width: 60vw;
    margin: auto;
    margin-left: 0;
}

.comp-wrapper {
    display: inline-block;
}

.comp-input {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    color: black;
    font-size: 30px;
    font-weight: 100;
    padding: 4px;
    background-color: white;
    width: 100%;
    max-width: 60vw;
    height: 55px;
}
@media screen and (max-width: 768px){
    .comp-form {
        width: auto;
    }
}

@media screen and (max-width: 576px){
    .comp-input {
        max-width: 90vw;
    }

    .comp-form {
        max-width: 90vw;
    }
}

.comp-message {
    height: 155px;
    font-size: 18px;
}
.comp-button {
    margin-top: 40px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    height: 30px;
    width: 120px;
    font-size: 16px;
    font-weight: 100;
    color: white;
    background-color: transparent;
}
.comp-button:hover {
    color: black;
    cursor: pointer;
}
.contact-row {
    width: 100%;
}


body {
    font: 400 15px Roboto, sans-serif;
    line-height: 1.8;
    color: #818181;
}
h1 {
    font-size: 12px;
    color: white;
    font-weight: 400;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
.jumbotron {
    padding: 100px 25px;
    font-family: Roboto, sans-serif;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #f4511e;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}
.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
.navbar {
    padding-top: 30px;
    margin-bottom: 0;
    background: #21A8FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, #9500FF , #21A8FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #9500FF, #21A8FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #9500FF, #21A8FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #9500FF , #21A8FF); /* Standard syntax (must be last) */
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}
